.card-body{
  padding-top: 2%;
  text-align: center;
  color: #FE98E2;
  text-shadow: 1px 1px black;
  border-radius: 20px;
}
.anyClass {
  height: 450px;
  overflow-y: scroll;
  padding-bottom: 50%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  border-color: black;
}
.card {
  margin: 100px auto 0;
  display: inline-block;
  width: 1320px;
  height: 200px;
  perspective: 700px;
  align-items: center;
  border-radius: 20px;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
}
.cardComment{
  color: black;
  margin: 100px auto 0;
  display: inline-block;
  width: 1000px;
  height: 400px;
  perspective: 700px;
  align-items: center;
  border-radius: 20px;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  background-color: white;
  flex: auto;
  padding: 20px;
}
tbody{
  color: black;
}
.card2{

  margin: 100px auto 0;
  display: inline-block;
  width: 350px;
  height: 200px;
  perspective: 700px;
  align-items: center;
  border-radius: 20px;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  flex: auto;
}

.card-body{
  padding-top: 2%;
  text-align: center;
  color: lightskyblue;
  text-shadow: 1px 1px black;
}

.card-img-top {
  height: 200px;
  border-radius: 20px;
}
.card-img-topUser {
  padding: 1px;
  height: 196px;
  width: 150px;
  border-radius: 20px;
}

#cartoonADDS {
height: 350px;
margin-top: auto;

  animation:
    stretch
    1.5s
    ease-out
    0s
    alternate
    4
    none
    running;
}

#cartoonADDS:hover {
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1.0);
    border-radius: 100%;
  }
  50% {
    background-color: lightblue;
  }
  100% {
    transform: scale(1.25);
  }
}
.column {
  float: left;
  width: 33.33%;
}
#column2 {
  float: right;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  align-content: center;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5ccbe7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}
.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: pink;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.button:hover {background-color: lightgreen;}
.button2:hover {background-color: red;}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#userName{
  font-size: 40px;
  text-align: center;
}
#userBio{
  font-size: 15px;
    color: lightgreen;
}
#userNames{
  font-size: 30px;
  color: pink;
  text-align: center;
}
#userButton{
  float: right;
}
#userDelete {
  float: right;
}
#merchADDS{
  height: 350px;
  margin-top: auto;
  animation-duration: 2s;
  animation-name: bounceIn;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
