<!----------------------------- modal update account ------------------------------>
<ng-template #accountModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Account!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form>
            <h1 class="justify-content-center">Update Account!</h1>

            <div class="d-flex justify-content-center" *ngIf="editUser">
              <form class="text-center">
                <input
                  type="text"
                  name="title"
                  class="col form-input form-control"
                  placeholder="Title"
                  style="width: 300px"
                  [(ngModel)]="editUser.username"
                />
                <br />
                <input
                  type="text"
                  name="url"
                  class="col form-input form-control"
                  placeholder="URL"
                  style="width: 300px"
                  [(ngModel)]="editUser.firstName"
                />
                <br />
                <input
                  type="text"
                  name="description"
                  class="col form-input form-control"
                  placeholder="Description"
                  style="width: 300px"
                  [(ngModel)]="editUser.lastName"
                />
                <br />
                <input
                  type="text"
                  name="season"
                  class="col form-input form-control"
                  placeholder="Season"
                  style="width: 300px"
                  [(ngModel)]="editUser.bio"
                />
                <br />
                <input
                  type="text"
                  name="episodeNum"
                  class="col form-input form-control"
                  placeholder="Episode Number"
                  style="width: 300px"
                  [(ngModel)]="editUser.email"
                />
                <br />
                <input
                  type="text"
                  name="image"
                  class="col form-input form-control"
                  placeholder="Cartoon Image"
                  style="width: 300px"
                  [(ngModel)]="editUser.image"
                />
                <br />
              </form>
            </div>
          </form>
          <br /><br />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-outline-primary"
      (click)="updateUser(); modal.dismiss('Cross click')"
    >
      Submit
    </button>
  </div>
</ng-template>
<!------------------------------------------------------------------>
<!--------------------- update media modal ------------------------->
<ng-template #mediaModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Media!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form>
            <h1 class="justify-content-center">Update Media!</h1>

            <div class="d-flex justify-content-center" *ngIf="editMedia">
              <form class="text-center">
                <input
                  type="text"
                  name="title"
                  class="col form-input form-control"
                  placeholder="Title"
                  style="width: 300px"
                  [(ngModel)]="editMedia.title"
                />
                <br />
                <input
                  type="text"
                  name="url"
                  class="col form-input form-control"
                  placeholder="URL"
                  style="width: 300px"
                  [(ngModel)]="editMedia.url"
                />
                <br />
                <input
                  type="text"
                  name="description"
                  class="col form-input form-control"
                  placeholder="Description"
                  style="width: 300px"
                  [(ngModel)]="editMedia.description"
                />
                <br />
                <input
                  type="text"
                  name="season"
                  class="col form-input form-control"
                  placeholder="Season"
                  style="width: 300px"
                  [(ngModel)]="editMedia.image"
                />
                <br />
                <input
                  type="text"
                  name="episodeNum"
                  class="col form-input form-control"
                  placeholder="Episode Number"
                  style="width: 300px"
                  [(ngModel)]="editMedia.season"
                />
                <br />
                <input
                  type="text"
                  name="image"
                  class="col form-input form-control"
                  placeholder="Cartoon Image"
                  style="width: 300px"
                  [(ngModel)]="editMedia.season"
                />
                <br />
                <button
                  class="btn btn-outline-primary"
                  (click)="updateMedia(editMedia)"
                >
                  Add Media!
                </button>
              </form>
            </div>
          </form>
          <br /><br />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!------------------------------------------------------------------>
<!--------------------update cartoon modal  ------------------------>
<ng-template #cartoonModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Cartoon!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form>
            <h1 class="justify-content-center">Cartoon Updated!</h1>

            <div class="d-flex justify-content-center" *ngIf="editToon">
              <form class="text-center">
                <input
                  type="text"
                  name="title"
                  class="col form-input form-control"
                  placeholder="Title"
                  style="width: 300px"
                  [(ngModel)]="editToon.name"
                />
                <br />
                <input
                  type="text"
                  name="url"
                  class="col form-input form-control"
                  placeholder="URL"
                  style="width: 300px"
                  [(ngModel)]="editToon.url"
                />
                <br />
                <input
                  type="text"
                  name="description"
                  class="col form-input form-control"
                  placeholder="Description"
                  style="width: 300px"
                  [(ngModel)]="editToon.description"
                />
                <br />
                <input
                  type="text"
                  name="season"
                  class="col form-input form-control"
                  placeholder="Season"
                  style="width: 300px"
                  [(ngModel)]="editToon.image"
                />
                <br />
                <input
                  type="text"
                  name="episodeNum"
                  class="col form-input form-control"
                  placeholder="Episode Number"
                  style="width: 300px"
                  [(ngModel)]="editToon.airingDate"
                />
                <br />
                <input
                  type="text"
                  name="image"
                  class="col form-input form-control"
                  placeholder="Cartoon Image"
                  style="width: 300px"
                  [(ngModel)]="editToon.finaleDate"
                />
                <br />
                <input
                  type="text"
                  name="image"
                  class="col form-input form-control"
                  placeholder="Cartoon Image"
                  style="width: 300px"
                  [(ngModel)]="editToon.network"
                />
                <br />
                <input
                  type="text"
                  name="image"
                  class="col form-input form-control"
                  placeholder="Cartoon Image"
                  style="width: 300px"
                  [(ngModel)]="editToon.rating"
                />
                <br />
                <input
                  type="text"
                  name="image"
                  class="col form-input form-control"
                  placeholder="Cartoon Image"
                  style="width: 300px"
                  [(ngModel)]="editToon.url"
                />
                <button class="btn btn-outline-primary" (click)="updateToon()">
                  Update Toon!
                </button>
              </form>
            </div>
          </form>
          <br /><br />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<!------------------------------------------------------------------>
<!-------------------------- Update merch modal--------------------->
<ng-template #merchModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Merchandise!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form>
            <h1 class="justify-content-center">Merchandise Updated!</h1>

            <div class="d-flex justify-content-center" *ngIf="editMerch">
              <form class="text-center">
                <!-- <input
                  type="text"
                  name="url"
                  class="col form-input form-control"
                  placeholder="URL"
                  style="width: 300px"
                  [(ngModel)]="editMerch.url"
                />
                <br /> -->
                <input
                  type="text"
                  name="description"
                  class="col form-input form-control"
                  placeholder="Description"
                  style="width: 300px"
                  [(ngModel)]="editMerch.url"
                />
                <br />
                <input
                  type="text"
                  name="image"
                  class="col form-input form-control"
                  placeholder="Image"
                  style="width: 300px"
                  [(ngModel)]="editMerch.image"
                />
                <br />
                <!-- <input
                  type="text"
                  name="episodeNum"
                  class="col form-input form-control"
                  placeholder="Episode Number"
                  style="width: 300px"
                  [(ngModel)]="editMerch.description"
                /> -->

                <button
                  class="btn btn-outline-primary"
                  (click)="updateMerch(editMerch)"
                >
                  Update Media!
                </button>
              </form>
            </div>
          </form>
          <br /><br />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<!---------------------------------------------------------------------------------->
<!------------------------------logged in user-------------------------------------->
<div class="row">
  <div class="column">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ loggedIn.image }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ loggedIn.username }}</h5>
        <p class="card-text">{{ loggedIn.bio }}</p>
        <p class="card-text">
          {{ loggedIn.firstName }} {{ loggedIn.lastName }}
        </p>
      </div>
    </div>

    <span class="">
      <a
        class="button"
        data-bs-toggle="offcanvas"
        (click)="editUser = loggedIn; open(accountModal)"
        >Update User!</a
      >
    </span>
    <br />
    <!----------------------------------media----------------------------------->
    <div *ngIf="loggedIn">
      <div class="anyClass">
        <div
          *ngFor="let media of userMedias"
          class="card"
          style="width: 18rem"
          style="center: center"
        >
          <img
            class="card-img-top"
            src="{{ media.image }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ media.title }}</h5>
            <p class="card-text">
              Season: {{ media.season }} | Ep: {{ media.episodeNum }}
            </p>
            <span class="">
              <a
                class="button"
                data-bs-toggle="offcanvas"
                (click)="updateMedia(media); openMedia(mediaModal)"
                >Update Media!</a
              >
              <button class="btn btn-danger" (click)="deleteMedia(media.id)">
                Delete Me!
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------merchandise--------------------------------------->
  <div class="column">
    <div *ngIf="loggedIn">
      <div class="anyClass">
        <div
          *ngFor="let merch of userMerchs"
          class="card"
          style="width: 18rem"
          style="center: center"
        >
          <img
            class="card-img-top"
            src="{{ merch.image }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ merch.createdDate }}</h5>
            <p class="card-text">{{ merch.updatedDate }}</p>
            <span class="">
              <a
                class="button"
                data-bs-toggle="offcanvas"
                (click)="setEditMerch(merch); open(merchModal)"
                >Update Merch!</a
              >
              <button class="btn btn-danger" (click)="deleteToon(merch.id)">
                Delete Me!
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------cartoons------------------------------->
  <div class="column">
    <img src="assets/cartoonADDS.png" id="cartoonADDS" />
    <div *ngIf="loggedIn">
      <div class="anyClass">
        <div
          *ngFor="let toon of userToons"
          class="card"
          style="width: 18rem"
          style="center: center"
        >
          <img
            class="card-img-top"
            src="{{ toon.image }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ toon.name }}</h5>
            <p class="card-text">{{ toon.description }}</p>
            <span class="">
              <a
                class="button"
                data-bs-toggle="offcanvas"
                (click)="setEdit(toon); openCartoon(cartoonModal)"
                >Update Cartoon!</a
              >
              <button class="btn btn-danger" (click)="deleteToon(toon.id)">
                Delete Me!
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button
  class="btn btn-danger"
  (click)="delete(loggedIn.id)"
  [routerLink]="['/home']"
>
  Delete Me!
</button>
<!--------------------------------------------------------------------------------------------------------->
<!-----------------------------------------user comments--------------------------------------------------->
<div *ngIf="loggedIn">
  <div *ngFor="let comment of userComments">
    <p>{{comment.comment}} {{comment.createdDate}}</p>
  </div>
</div>
