@import "~bootstrap/dist/css/bootstrap.css";

body {
  color: black;
  font-family: "marker felt";
  background-image: url("assets/CN.jpeg");
  background-repeat: repeat;
  background-size: contain;
}

tbody{
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;

}

