@import "~bootstrap/dist/css/bootstrap.css";

body {
  color: white;
  font-family: "marker felt";
  background-image: url("/assets/CN.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

tbody{
  color: white;
}
