<footer class="bg-light d-flex justify-content-center">
  <div class="text-piped">
      <span class="">
        <a class="link active link-dark" data-bs-toggle="offcanvas" [routerLink]="['/about']">About</a>
      </span>
      <span class="">
        <a class="link active link-dark" data-bs-toggle="offcanvas" (click)="open(content)">Contact</a>
      </span>
  </div>
</footer>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact Us</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form>
            <input type="text" class="form-control" style="width: 300px;" name="username" placeholder="email@example.com"><br>
            <textarea class="col form-input form-control" id="bio" rows="5" placeholder="message" style="width: 300px;"></textarea>
          </form><br><br>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary" (click)="contact(); modal.dismiss('Cross click')">Submit</button>
  </div>
</ng-template>


