<div *ngIf="!selected">
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Network</th>
        <th>Creator</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let toon of toons">
        <td>
          <img
            class="card-img-top"
            src="{{ toon.image }}"
            alt="Card image cap"
          />
        </td>
        <td (click)="displayToon(toon)">{{ toon.name }}</td>
        <td>{{ toon.description }}</td>
        <td>{{ toon.rating.rating }}</td>
        <td>{{ toon.network.name }}</td>
        <td>{{ toon.creator.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <table> -->
<!-- <tbody> -->
<div class="justify-content-center" *ngIf="selected">
  <h1 id="title">{{ selected.name }}</h1>
  <div class="single">
    <div class="d-flex justify-content-center">
      <img class="card-img-top" src="{{ selected.image }}" alt="Card image cap" />
    </div>
    <br />
    <p id="description">Description: {{ selected.description }}</p>
    <div id="single-info" class="d-flex justify-content-center">
      Rating: <p>{{ selected.rating.rating }}</p>
      First Aired: <p>{{ selected.airingDate | date: "shortDate" }}</p>
      Show Finale: <p>{{ selected.finaleDate | date: "shortDate" }}</p>
      Creator: <p>{{ selected.creator.name }}</p>
      Network: <p>{{ selected.network.name }}</p>
    </div>
  </div>
  <div id="logged" class="d-flex justify-content-center">
    Active: <p>{{ selected.active }}</p>
    Created: <p>{{ selected.createdDate | date: "shortDate" }}</p>
    Updated: <p>{{ selected.updatedDate | date: "shortDate" }}</p>
  </div>
</div>
<!-- </tbody> -->
<!-- </table> -->
