

table{
  background-color: white;
  opacity: 0.9;
  border-radius: 8px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

td{
  color: black;
}

img{
  height: 200px;
  width: 300px;
}

#title{
  background-color: white;
  opacity: 0.9;
  border-radius: 8px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.single{
  background-color: white;
  opacity: 0.9;
  border-radius: 8px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#logged{
  background-color: white;
  opacity: 0.9;
  border-radius: 8px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#single-info, #description, #title{
  text-align: center;
}

.w-100 {
  width: 100%!important;
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
}

.cards {
  width: calc(100% - 80px);
  overflow: hidden;
}

.overflow {
  position: relative;
  transition: left 0.5s ease-in-out;
}

.card {
  height: 300px;
  background-color: #e0e1e2;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.no-right-margin {
  margin-right: 0px;
}

.card span {
  font-size:48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left,
.right {
  height: 30px;
  width: 30px;
  background-color: #0072bc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left.disabled, .right.disabled {
  background-color:#CCC;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

#addToon{
  float: right;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5ccbe7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.button:hover {background-color:hotpink}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#toonCard {
  border-radius: 20px;
  display: inline-block;
  /* width: calc(100%/3); */
  width:300px;
  height: 400px;
  perspective: 700px;
  align-items: center;
}
.card-body1{

  padding-top: 2%;
  text-align: center;
  color: lightskyblue;
  text-shadow: 1px 1px black;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
}

.image-wrapper {
  margin: 0 auto;
  /* height: 22vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
}
.image-wrapper img{
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 567px) {
  .card-body1:not(:first-child) {
  display: none;
  }
}
