<div>
<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Network</th>
      <th>Creator</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let toon of toons">
      <td><img class="card-img-top" src="{{toon.image}}" alt="Card image cap"></td>
      <td (click)="displayToon(toon)" class="">{{toon.name}}</td>
      <td>{{toon.description}}</td>
      <td>{{toon.rating.rating}}</td>
      <td>{{toon.network.name}}</td>
      <td>{{toon.creator.name}}</td>
    </tr>
  </tbody>
</table>
</div>
