<div *ngIf="loggedInUser && !selected" id="addToon" class="">
  <button class="btn btn-primary mb-3" (click)="open(addToonModal); addToon">Add Cartoon</button>
</div>

<div *ngIf="!selected">
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Network</th>
        <th>Creator</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let toon of toons">
        <td>
          <img
            class="card-img-top"
            src="{{ toon.image }}"
            alt="Card image cap"
          />
        </td>
        <td (click)="displayToon(toon)">{{ toon.name }}</td>
        <td>{{ toon.description }}</td>
        <td>{{ toon.rating.rating }}</td>
        <td>{{ toon.network.name }}</td>
        <td>{{ toon.creator.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <table> -->
<!-- <tbody> -->
<div class="justify-content-center" *ngIf="selected">
  <h1 id="title">{{ selected.name }}</h1>
  <div class="single">
    <div class="d-flex justify-content-center">
      <img class="card-img-top" src="{{ selected.image }}" alt="Card image cap" />
    </div>
    <br />
    <p id="description">Description: {{ selected.description }}</p>
    <div id="single-info" class="d-flex justify-content-center">
      Rating: <p>{{ selected.rating.rating }}</p>
      First Aired: <p>{{ selected.airingDate | date: "shortDate" }}</p>
      Show Finale: <p>{{ selected.finaleDate | date: "shortDate" }}</p>
      Creator: <p>{{ selected.creator.name }}</p>
      Network: <p>{{ selected.network.name }}</p>
    </div>
  </div>
  <div id="logged" *ngIf="loggedInUser">
    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-primary" (click)="open(merchModal)">Add Merchandise</button>
      <button class="btn btn-outline-primary" (click)="open(mediaModal)">Add Media</button>
    </div>
    <div *ngIf="loggedInUser && loggedInUser.role == 'admin'">
      <div class="d-flex justify-content-center">
        Active: <p>{{ selected.active }}</p>
        Created: <p>{{ selected.createdDate | date: "shortDate" }}</p>
        Updated: <p>{{ selected.updatedDate | date: "shortDate" }}</p>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-outline-primary" (click)="open(content); editToon = selected">Update Cartoon</button>
        <button class="btn btn-outline-primary" (click)="deleteToon(selected.id)" [routerLink]="['/home']">Delete Cartoon</button>
      </div>
    </div>
  </div>
</div><br>
<!-- </tbody> -->
<!-- </table> -->

<div class="container" #container>
	<div class="left" *ngIf="totalPages > 1 && selected" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"></div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
      <div class="card" *ngFor="let media of toonMedia; let index = index" [ngStyle]="{'width': cardWidth}">
        <a href={{media.url}}>
          <img src="{{media.image}}" style="height: 75%; width: 75% !important"><br>
          <h5>{{media.title}}</h5>
          <!-- <button class="btn btn-outline-primary" (click)="open(content); editMedia = selected">Edit</button>
          <button class="btn btn-outline-primary" (click)="deleteMedia(selected.id)" [routerLink]="['/home']">Delete</button> -->
        </a>
			</div>
		</div>
	</div>
	<div class="right" *ngIf="totalPages > 1 && selected" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}"></div>
</div><br>

<div class="container" #container>
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"></div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
			<div class="card" *ngFor="let merch of toonMerch; let index = index" [ngStyle]="{'width': cardWidth}">
				<a href={{merch.url}}>
          <img src="{{merch.image}}" style="height: 75%; width: 75% !important"><br>
          <!-- <h5>{{merch.description}}</h5> -->
          <!-- <button class="btn btn-outline-primary" (click)="open(content); editMerch = selected">Edit</button>
          <button class="btn btn-outline-primary" (click)="deleteMerch(selected.id)" [routerLink]="['/home']">Delete</button> -->
        </a>
			</div>
		</div>
	</div>

	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}"></div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Cartoon</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form *ngIf="editToon">
            Image: <input type="text" id="image" name="image" class="form-control" style="width: 300px;" [(ngModel)]="editToon.image"><br>
            Name: <input type="text" name="Name" class="form-control" style="width: 300px;" [(ngModel)]="editToon.name"><br>
            Description: <input type="text" name="description" class="form-control" style="width: 300px;" [(ngModel)]="editToon.description"><br>
            Rating: <input type="text" name="rating" class="form-control" style="width: 300px;" [(ngModel)]="editToon.rating"><br><br>
            Airing Date: <input type="text" name="airingDate" class="form-control" style="width: 300px;" [(ngModel)]="editToon.airingDate"><br><br>
            Finale Date: <input type="text" name="finaleDate" class="form-control" style="width: 300px;" [(ngModel)]="editToon.finaleDate"><br><br>
            Creator: <input type="text" name="creator" class="form-control" style="width: 300px;" [(ngModel)]="editToon.creator.name"><br><br>
            Network: <input type="text" name="network" class="form-control" style="width: 300px;" [(ngModel)]="editToon.network.name"><br><br>
            <label class="form-check-label" for="dropdownCheck">Active</label><br><br>
            <input type="checkbox" name="active" class="form-check-input" id="dropdownCheck" [(ngModel)]="editToon.active">
          </form><br><br>
        </div>
      </div>
    </form>
  </div>
  <div class="dropdown-divider"></div>
  <div class="modal-footer">
    <button class=" dropfown-item btn btn-outline-primary" (click)="updateToon(); modal.dismiss('Cross click')">Update</button>
  </div>
</ng-template>

<ng-template #mediaModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Media</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form *ngIf="newMedia">
            Image: <input type="text" id="image" name="image" class="form-control" style="width: 300px;" [(ngModel)]="newMedia.image"><br>
            Title: <input type="text" id="title" name="title" class="form-control" style="width: 300px;" [(ngModel)]="newMedia.title"><br>
            Description: <input type="description" id="description" name="image" class="form-control" style="width: 300px;" [(ngModel)]="newMedia.description"><br>
            URL: <input type="text" id="url" name="url" class="form-control" style="width: 300px;" [(ngModel)]="newMedia.url"><br>
            Season: <input type="text" id="season" name="season" class="form-control" style="width: 300px;" [(ngModel)]="newMedia.season"><br>
            Episode: <input type="text" id="episode" name="episode" class="form-control" style="width: 300px;" [(ngModel)]="newMedia.episodeNum"><br>
            <label class="form-check-label" for="dropdownCheck">Active</label><br><br>
            <input type="checkbox" name="active" class="form-check-input" id="dropdownCheck" [(ngModel)]="newMedia.active">
          </form><br><br>
        </div>
      </div>
    </form>
  </div>
  <div class="dropdown-divider"></div>
  <div class="modal-footer">
    <button class=" dropfown-item btn btn-outline-primary" (click)="addMedia(); modal.dismiss('Cross click')">Add</button>
  </div>
</ng-template>

<ng-template #merchModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Merch</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form *ngIf="newMerch">
            Image: <input type="text" id="image" name="image" class="form-control" style="width: 300px;" [(ngModel)]="newMerch.image"><br>
            URL: <input type="text" id="url" name="url" class="form-control" style="width: 300px;" [(ngModel)]="newMerch.url"><br>
            <label class="form-check-label" for="dropdownCheck">Active</label><br><br>
            <input type="checkbox" name="active" class="form-check-input" id="dropdownCheck" [(ngModel)]="newMerch.active">
          </form><br><br>
        </div>
      </div>
    </form>
  </div>
  <div class="dropdown-divider"></div>
  <div class="modal-footer">
    <button class=" dropfown-item btn btn-outline-primary" (click)="addMerch(); modal.dismiss('Cross click')">Update</button>
  </div>
</ng-template>

<ng-template #addToonModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Cartoon</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <form *ngIf="newToon">
            Image: <input type="text" id="image" name="image" class="form-control" style="width: 300px;" [(ngModel)]="newToon.image"><br>
            Name: <input type="text" name="Name" class="form-control" style="width: 300px;" [(ngModel)]="newToon.name"><br>
            Description: <input type="text" name="description" class="form-control" style="width: 300px;" [(ngModel)]="newToon.description"><br>
            Airing Date: <input type="date" name="airingDate" class="form-control" style="width: 300px;" [(ngModel)]="newToon.airingDate"><br><br>
            Finale Date: <input type="date" name="finaleDate" class="form-control" style="width: 300px;" [(ngModel)]="newToon.finaleDate"><br><br>
            Creator: <input type="text" name="creator" class="form-control" style="width: 300px;" [(ngModel)]="newToon.creator.name"><br><br>
            <select name="network" id="" [(ngModel)]="newToon.network.id">
              <option *ngFor="let network of networks" [value]="network.id">
                {{network.name}}
              </option>
            </select>
            <select name="rating" id="" [(ngModel)]="newToon.rating.id">
              <option *ngFor="let rating of ratings" [value]="rating.id">
                {{rating.rating}}
              </option>
            </select>
            <label class="form-check-label" for="dropdownCheck">Active</label><br><br>
            <input type="checkbox" name="active" class="form-check-input" id="dropdownCheck" [(ngModel)]="newToon.active">
          </form><br><br>
        </div>
      </div>
    </form>
  </div>
  <div class="dropdown-divider"></div>
  <div class="modal-footer">
    <button class=" dropfown-item btn btn-outline-primary" (click)="addToon(); modal.dismiss('Cross click')">Add</button>
  </div>
</ng-template>
