<div class="logo" id="logo" style="position: relative; left: 80px; top: -100px">
  <img src="/assets/logo3.png" alt="HTML5 Icon" width="400" height="400" />
</div>

<div class="container-fluid d-flex justify-content-center">
  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="assets/card3.png" alt="Card image cap" />
    <div class="card-body1">
      <h5 class="card-title">Powerpuff Girls</h5>
      <p class="card-text">SEASON 1 | Episode 27 | Road Trippin'</p>
      <p>Aired on 09/23/2022</p>
      <br />
      <a
        class="button"
        onclick="href='https://www.cartoonnetwork.com/video/powerpuff-girls/road-trippin-episode.html'"
        target="_blank"
        id="watch"
        >Watch Episode</a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="assets/card3.png" alt="Card image cap" />
    <div class="card-body2">
      <h5 class="card-title">Powerpuff Girls</h5>
      <p class="card-text">SEASON 1 | Episode 27 | Road Trippin'</p>
      <p>Aired on 09/23/2022</p>
      <br />
      <a
        class="button"
        onclick="href='https://www.cartoonnetwork.com/video/powerpuff-girls/road-trippin-episode.html'"
        target="_blank"
        id="watch"
        >Watch Episode</a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="assets/card3.png" alt="Card image cap" />
    <div class="card-body3">
      <h5 class="card-title">Powerpuff Girls</h5>
      <p class="card-text">SEASON 1 | Episode 27 | Road Trippin'</p>
      <a
        class="button"
        onclick="href='https://www.cartoonnetwork.com/video/powerpuff-girls/road-trippin-episode.html'"
        target="_blank"
        id="watch"
        >Watch Episode</a
      >
    </div>
  </div>
</div>
<br />
