<!-- <div class="logo" id="logo" style="position: relative; left: 80px; top: -100px">
  <img src="/assets/logo3.png" alt="HTML5 Icon" width="400" height="400" />
</div> -->


<div class="container-fluid d-flex justify-content-center">
  <div class="card2" >
    <div class="logo" id="logo" style="position: relative; left: 80px; top: -100px">
      <img src="/assets/logo3.png" alt="HTML5 Icon" width="400" height="400" />
    </div>
  </div>
    <div class="card-body">
    </div>
    </div>


    <div class="container-fluid d-flex justify-content-center">
      <div class="card4" >
        <div  style="position: relative; left: 80px; top: -100px">
        </div>

<div class="container-fluid d-flex justify-content-center">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="https://i.pinimg.com/236x/5c/58/03/5c58036f87822957926ce579c748cf66.jpg"
      alt="Card image cap"
    />
    <div class="card-body1">
      <h5 class="card-title">XMEN: The Animated Series</h5>
      <p class="card-text">SEASON 5 | Episode: 1</p>
      <p class="card-text">The Phalanx Covenant (Pt. 1)</p>
      <a
        class="button"
        onclick="href='https://www.dailymotion.com/video/x3mwpwi'"
        target="_blank"
        id="watch"
        >Watch Episode</a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoL34SlHQ5Aj--H-Bdhe_mV_S0oJXNSnBxLQ&usqp=CAU"
      alt="Card image cap"
    />
    <div class="card-body2">
      <h5 class="card-title">The Wild ThornBerrys</h5>
      <p class="card-text">SEASON 1 | Episode: 187</p>
      <p class="card-text">The Wild Snob Berry</p>
      <a
        class="button"
        onclick="href='https://www.youtube.com/watch?v=NvQgiDEJBUs&list=PL8_Qxk_IYLL-ut-xwrudvP1xkkmUXrTXT&index=2'"
        target="_blank"
        id="watch"
        >Watch Episode</a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="assets/card3.png" alt="Card image cap" />
    <div class="card-body3">
      <h5 class="card-title">Powerpuff Girls</h5>
      <p class="card-text">SEASON 1 | Ep: 27</p>
      <p class="card-text">Road Trippin'</p>
      <a
        class="button"
        onclick="href='https://www.cartoonnetwork.com/video/powerpuff-girls/road-trippin-episode.html'"
        target="_blank"
        id="watch"
        >Watch Episode</a
      >
    </div>
  </div>
</div>
</div>
<div class="card-body">
</div>
</div>
<br />
<br>
<br>
<br>
<br>
