.main {
  height: 125vh;
  width: 100%;
  padding-left: 35px;
  display: flex;
}

.card {
  margin: 100px auto 0;
  display: inline-block;
  width: 400px;
  height: 400px;
  perspective: 700px;
  align-items: center;
  border-radius: 20px;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
} */

#watch {
  background-color: #FE98E2;
}


#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  animation-name: rotate;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
  animation-play-state: paused;

  /* animation: vibrate 0.5s; */
  /* animation-duration: 4s;
  animation: float 6s ease-in-out infinite; */
}
#logo:hover {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-body3{
  padding-top: 2%;
  text-align: center;
  color: #FE98E2;
  text-shadow: 1px 1px black;
}

.card-body2{
  padding-top: 2%;
  text-align: center;
  color: lightgreen;
  text-shadow: 1px 1px black;
}

.card-body1{
  padding-top: 2%;
  text-align: center;
  color: lightskyblue;
  text-shadow: 1px 1px black;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.card-img-top {
  height: 200px;
  border-radius: 20px;
}






