

    <div class="cards-wrapper">
      <div class="card mb-3 mx-3" *ngFor="let merch of merchs" id="mediaCard">
        <div class="image-wrapper">
          <img
            class="card-img-top"
            src="{{ merch.image }}"
            alt="Card image cap"
          /><img />
        </div>
        <div class="card-body1">
          <h5 class="card-title">{{ merch.description }}</h5>
          <p>{{merch.description}}</p>
          <br />
          <a
            class="button"
            href='{{merch.url}}'
            target="_blank"
            id="watch"
            >Buy Now!</a
          >
        </div>
      </div>
    </div>

    <br />
