/* main, body {
  background-color: white;
  opacity: 75%;
  background-image: none;
  color: black;
} */

/* main {
  height: 125vh;
  width: 100%;
  padding-left: 35px;
  display: flex;
} */

#merchCard {
  border-radius: 20px;
  display: inline-block;
  width: calc(100%/3);
  height: 400px;
  perspective: 700px;
  align-items: center;
}
.card-body1{

  padding-top: 2%;
  text-align: center;
  color: lightskyblue;
  text-shadow: 1px 1px black;
}

.cards-wrapper {
  display: flex;
  padding-left: 25px;
}

.image-wrapper {
  margin: 0 auto;
  height: 22vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wrapper img{
  max-width: 100%;
  max-height: 100%;
}

