<body>


  <form>
    ID: <br> <input type="text" name="id" [(ngModel)]="newMerch.id"><br>
    Associated Cartoon:<br> <input type="text" name="cartoon" [(ngModel)]="newMerch.cartoon"><br>
    Link: <br><input type="text" name="url" [(ngModel)]="newMerch.url"><br>
    Image: <br><input type="text" name="image" [(ngModel)]="newMerch.image"><br>
    Linked by: <br><input type="text" name="date" [(ngModel)]="newMerch.user"><br>
    Created Date: <br><input type="text" name="date" [(ngModel)]="newMerch.createdDate"><br>
    Last Updated: <br><input type="text" name="date" [(ngModel)]="newMerch.updatedDate"><br>

    <button (click)="createMerch(newMerch)">Add Merchandise</button>

    </form>
    <table class="styled-table">
      <thead>
        <tr>
          <td>ID</td>
          <td>Cartoon</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mrchs of merchs" (click)="viewDetails(mrchs)">
          <td>{{mrchs.id}}</td>
          <td>{{mrchs.cartoon}}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="selected">
    <p>Merch ID #: {{selected.id}}</p>
    <p>Cartoon: {{selected.cartoon}}</p>
    <p>{{selected.image}}</p>
    <p>Linked by: {{selected.user}}</p>
    <p>Created: {{selected.createdDate}}</p>
    <p>Last Updated: {{selected.updatedDate}}</p>
    <button (click)="selected=null" class="btn btn-danger">Back</button>
    <button (click)="setEditMerch()" class="btn btn-outline-primary">Edit</button>
    <button (click)="deleteMerch(selected.id)" class="btn btn-danger">Delete</button>
    </div>

    <div id="merchEdit" *ngIf="editMerch">
      <form>
        <div class="form-group">
        <label for="cartoon" class="form-label">Cartoon</label>
        <input type="text" name="cartoon" [(ngModel)]="editMerch.cartoon" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="image" class="form-label">Picture</label>
        <input type="image" name="image" [(ngModel)]="editMerch.image"  class="form-control"/>
      </div>
      <div class="form-group">
        <label for="url" class="form-label">Link</label>
        <input type="text" name="url" [(ngModel)]="editMerch.url"  class="form-control"/>
      </div>
      <div class="form-group">
        <label for="user" class="form-label">Username</label>
        <input type="text" name="user" [(ngModel)]="editMerch.createdDate"  class="form-control"/>
      </div>
      <div class="form-group">
        <label for="createdDate" class="form-label">Created Date</label>
        <input type="text" name="createdDate" [(ngModel)]="editMerch.createdDate"  class="form-control"/>
      </div>

        <button (click)="editMerch = null" class="btn btn-danger">Cancel</button>
        <button (click)="updateMerch(editMerch)" class="btn btn-success">Save</button>
      </form>
    </div>
  </body>
