
<h1>About</h1>
   <br>
   <br>
   <br>
   <div class="parent main container-fluid">
   <div class="badge-base LI-profile-badge" id="linkedIn" data-locale="en_US" data-size="medium" data-theme="light" data-type="HORIZONTAL" data-vanity="samantha-heisterkamp-ba50061b5" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/samantha-heisterkamp-ba50061b5?trk=profile-badge"></a></div>

   <div class="badge-base LI-profile-badge" id="linkedIn" data-locale="en_US" data-size="medium" data-theme="light" data-type="HORIZONTAL" data-vanity="tiarrablandin" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/tiarrablandin?trk=profile-badge"></a></div>
</div>

